@tailwind base;
@tailwind components;
@tailwind utilities;


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-dm-serif-display);
}

h1 {
    @apply lg:text-h1 text-h1-m
}

h2 {
    @apply lg:text-h2 text-h2-m
}

h3 {
    @apply lg:text-h3 text-h3-m
}

h4 {
    @apply lg:text-h4 text-h4-m
}

h5 {
    @apply lg:text-h5 text-h5-m
}

h6 {
    @apply lg:text-h6 text-h6-m
}

body,
p,
span,
li,
a {
    font-family: var(--font-inter);
}

html {
    font-family: var(--font-inter);
}


.glass-container {
    position: relative;
}

.glass-container::before {
    @apply absolute -inset-[10px] -z-10 rounded-xl border border-slate-100/20 bg-slate-200/10 backdrop-blur-md;
    content: '';
}


.signal-line {
    --rotation: 90deg;
    @apply h-[20px] w-[1.5px] bg-gradient-to-t md:h-[1.5px] md:w-[30px] lg:w-[40px] xl:w-[50px];
    background-color: hsla(0, 0%, 100%, 0.1);
    background-image: linear-gradient(var(--rotation),
            rgba(255, 255, 255, 0) 50%,
            #bfdbfe 50%,
            rgba(255, 255, 255, 0) 70%);
    background-size: 400% 400%;
}

@media (max-width: 767px) {
    .signal-line {
        --rotation: 0deg;
    }
}